.container{
    padding: 2%;
    margin-left: 6% ;
    margin-right: 6% ;
}
.banner {
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 174, 255);
    height: 170px;
}
.logo {
    margin-left: 10%;
    height: auto;
  
}
.logo img{
    padding-top: 60px;
    height: 90px;

}
.text-grey, .little-text{
    color: grey;
    
}
p span{
    color: rgb(107, 201, 233);
   font-weight: bolder;
}
.little-text{
    font-size: 13px;
    padding-bottom: 20px;
}
.img-lee p{
    font-size: 11px;
}
.some-text{
    padding-top: 20px;
}
.list{
    margin: 20px;
}


table, td, th{
   
    border-collapse: collapse;
    table-layout: fixed;
}
td, th{
   
    width: 33%;  /* Larghezza uniforme*/
    text-align: left;
    margin-right: 10px;
}
#strong{
    font-weight:900;
}

thead{
    background-color:#4EA0FF;
    color: white;
}
.azure{
    background-color: #B1E5F2;
}
.link{
    margin-top: 20px;
}

.link p{
    font-size: large;
    color: grey;

}
.img-link{ 
  
    margin-top: 20px;
    height: 212px;
    width: 311px ;
    background-repeat: no-repeat;
    
}
#img1{
    background-image: url(/img/monitor.jpg);
}
#img2{
    background-image: url(/img/graph.jpg);
}
.img-link p{
    color: white;
    margin-left: 10%;
    padding-top: 5%;
}